footer
  p © #{new Date().getFullYear()} X-Mate. All rights reserved.
  p
    | Chính sách |
    a(href="/shipping") Giao hàng
    |  • 
    a(href="/return") Đổi/Trả
    |  • 
    a(href="/contact") Liên hệ
