footer.site-footer
  section.footer-feedback
    .footer-feedback__content
      h2 COOLMATE lắng nghe bạn!
      p Chúng tôi luôn trân trọng và mong đợi mọi ý kiến đóng góp từ khách hàng để có thể nâng cấp trải nghiệm dịch vụ và sản phẩm tốt hơn nữa.
      a.footer-feedback__button(href="/feedback") ĐÓNG GÓP Ý KIẾN
    .footer-feedback__contacts
      .footer-contact
        span.footer-contact__icon
          span.icon-phone
        .footer-contact__body
          span.footer-contact__label Hotline
          a(href="tel:1900272737") 1900.272737
          span.footer-contact__note 028.7777.2737
      .footer-contact
        span.footer-contact__icon
          span.icon-mail
        .footer-contact__body
          span.footer-contact__label Email
          a(href="mailto:cool@coolmate.me") Cool@coolmate.me
  section.footer-columns
    .footer-column
      .footer-column__group
        h3 COOLCLUB
        ul
          li
            a(href="/coolclub/account") Tài khoản CoolClub
          li
            a(href="/coolclub/membership") Đăng ký thành viên
          li
            a(href="/coolclub/perks") Ưu đãi & Đặc quyền
      .footer-column__group
        h3 TÀI LIỆU - TUYỂN DỤNG
        ul
          li
            a(href="/careers") Tuyển dụng
          li
            a(href="/press") Đăng ký bản quyền
    .footer-column
      .footer-column__group
        h3 CHÍNH SÁCH
        ul
          li
            a(href="/policy/returns") Chính sách đổi trả 60 ngày
          li
            a(href="/policy/promotions") Chính sách khuyến mãi
          li
            a(href="/policy/security") Chính sách bảo mật
          li
            a(href="/policy/shipping") Chính sách giao hàng
      .footer-column__group
        h3 COOLMATE.ME
        ul
          li
            a(href="/schedule") Lịch sử thay đổi website
          li
            a(href="/app") Ứng dụng di động
    .footer-column
      .footer-column__group
        h3 CHĂM SÓC KHÁCH HÀNG
        ul
          li
            a(href="/experience") Trải nghiệm mua sắm 100% hài lòng
          li
            a(href="/faq") Hỏi đáp - FAQs
      .footer-column__group
        h3 KIẾN THỨC MẶC ĐẸP
        ul
          li
            a(href="/guides/size") Hướng dẫn chọn size
          li
            a(href="/blog") Blog
    .footer-column
      h3 VỀ COOLMATE
      ul
        li
          a(href="/about/code-of-conduct") Quy tắc ứng xử của Coolmate
        li
          a(href="/about/coolmate-101") Coolmate 101
        li
          a(href="/about/service-excellence") DVKH xuất sắc
        li
          a(href="/about/story") Câu chuyện về Coolmate
        li
          a(href="/about/factory") Nhà máy
        li
          a(href="/about/care-share") Care & Share
        li
          a(href="/about/sustainability") Cam kết bền vững
        li
          a(href="/about/vision-2030") Tầm nhìn 2030
    .footer-column.footer-column--wide
      h3 ĐỊA CHỈ LIÊN HỆ
      ul
        li
          strong Văn phòng Hà Nội:
          |  Tầng 3-4, Tòa nhà BMM, Km2, Đường Phùng Hưng, Phường Hà Đông, Thành phố Hà Nội, Việt Nam
        li
          strong Trung tâm vận hành Hà Nội:
          |  Lô C8, KCN Lai Yên, Xã Lai Yên, Huyện Hoài Đức, Thành phố Hà Nội
        li
          strong Văn phòng & Trung tâm vận hành TP.HCM:
          |  Lô C3, đường D2, KCN Cát Lái, Thành phố Thủ Đức, TP. Hồ Chí Minh
        li
          strong Trung tâm R&D:
          |  T6-01, The Manhattan Vinhomes Grand Park, Long Bình, TP. Thủ Đức
  section.footer-social
    h3 Kết nối với X-Mate
    ul.footer-social__list
      li
        a.footer-social__item.footer-social__item--facebook(href="https://facebook.com", target="_blank", rel="noopener") Facebook
      li
        a.footer-social__item.footer-social__item--zalo(href="https://zalo.me", target="_blank", rel="noopener") Zalo
      li
        a.footer-social__item.footer-social__item--tiktok(href="https://tiktok.com", target="_blank", rel="noopener") TikTok
      li
        a.footer-social__item.footer-social__item--instagram(href="https://instagram.com", target="_blank", rel="noopener") Instagram
      li
        a.footer-social__item.footer-social__item--youtube(href="https://youtube.com", target="_blank", rel="noopener") YouTube
  section.footer-bottom
    p © #{new Date().getFullYear()} CÔNG TY TNHH FASTECHASIA. Mã số doanh nghiệp: 0108670038. Giấy chứng nhận đăng ký doanh nghiệp do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 20/02/2019.
    ul.footer-certifications
      li.footer-certifications__item NCSC
      li.footer-certifications__item DMCA
      li.footer-certifications__item Bộ Công Thương
