header.site-header
  .top-strip
    .container
      ul.top-links
        li
          a(href="/ve-chung-toi") VỀ X-MATE
        li
          a(href="/cxp") CXP
      ul.top-links.top-links--right
        li
          a(href="/coolclub") Coolclub
        li
          a(href="/blog") Blog
        li
          a(href="/cskh") CSKH
        li
          a(href="/auth/login") Đăng nhập
  .main-bar
    .container
      a.brand(href="/", aria-label="Trang chủ X-Mate")
        img(src="/images/logo1.png", alt="X-Mate", height="60")
      nav.primary-nav
        a.primary-nav__item.is-new(href="/hang-moi") NEW
        a.primary-nav__item(href="/nam") NAM
        a.primary-nav__item(href="/nu") NỮ
        a.primary-nav__item(href="/the-thao") THỂ THAO
        a.primary-nav__item.is-sale(href="/sale")
          span.primary-nav__sale SALE
          span.primary-nav__sale-tag -50%
        a.primary-nav__item(href="/cs") C&S
      .header-actions
        form.search-form(action="/search", method="get")
          label.sr-only(for="header-search") Tìm kiếm sản phẩm
          input#header-search(type="search", name="q", placeholder="Tìm kiếm...")
          button(type="submit", aria-label="Tìm kiếm")
            span.icon.icon--search
        a.action-link(href="/user/info", aria-label="Tài khoản")
          span.fa-solid.fa-user
        a.action-link.cart(href="/cart", aria-label="Giỏ hàng")
          span.fa-solid.fa-cart-shopping
          span.cart__badge 0
  //- .promo-strip
  //-   .container
  //-     p.promo-strip__message
  //-       | [KHÁCH HÀNG MỚI] NHẬP COOLNEW GIẢM 50K CHO ĐƠN TỪ 299K
  //-       a(href="/khuyen-mai")  KHÁM PHÁ
