extends ../../layouts/default.pug
include ../../mixins/product-card.pug

block title
  title X-Mate | Trang chủ

block content
  .home-banner

  .products
    if products && products.length
      each p in products
        +productCard(p)
    else
      p(style="padding:1rem") Chưa có sản phẩm nào

block extra_js
  script(src="/js/header.js")
  script(src="/js/alerts.js")
  script(src="/js/home.js")
