.form-card
    h2 Chỉnh sửa thông tin tài khoản
    form(method="POST" action="/user/change-password" class="form")
        .form-group
            label(for="old_password") Mật khẩu cũ
            input#old_password(type="password" name="old_password" required)

        .form-group
            label(for="new_password") Mật khẩu mới
            input#new_password(type="password" name="new_password" required)

        .form-group
            label(for="confirm_password") Nhập lại mật khẩu
            input#confirm_password(type="password" name="confirm_password" required)

        button(type="submit" class="button button--primary w-full mt-16") Cập nhật mật khẩu
