extends ../../layouts/default.pug

block title
    title X-Mate | Đăng nhập CoolClub

block content
    .auth-page
        .auth-card
            a.auth-card__close(href="/" aria-label="Đóng cửa sổ")
                span(aria-hidden="true") &times;
            span.auth-card__badge COOL CLUB
            h1.auth-card__title Rất nhiều đặc quyền và quyền lợi mua sắm đang chờ bạn
            p.auth-card__subtitle Quyền lợi dành riêng cho bạn khi tham gia Coolclub
            ul.auth-perks
                li.auth-perk
                    span.auth-perk__icon VC
                    span Voucher ưu đãi
                li.auth-perk
                    span.auth-perk__icon QT
                    span Quà tặng độc quyền
                li.auth-perk
                    span.auth-perk__icon HC
                    span Hoàn tiền Coolcash
            .auth-social
                p.auth-social__title Đăng nhập hoặc đăng ký (miễn phí)
                .auth-social__buttons
                    a.auth-social__btn.auth-social__btn--google(href="/auth/google")
                        span(aria-hidden="true") G
                        span.visually-hidden Đăng nhập bằng Google
                    a.auth-social__btn.auth-social__btn--facebook(href="/auth/facebook")
                        span(aria-hidden="true") f
                        span.visually-hidden Đăng nhập bằng Facebook
            .auth-divider Hoặc
            form.auth-form(action="/auth/login" method="post")
                label.visually-hidden(for="phoneOrEmail") Email hoặc số điện thoại
                input#identifier.auth-input(type="text" name="phoneOrEmail" placeholder="Email/SĐT của bạn", required)
                .auth-form__field.auth-form__field--password
                    label.visually-hidden(for="loginPassword") Mật khẩu
                    input#loginPassword.auth-input(type="password" name="password" placeholder="Mật khẩu", required)
                    button.auth-password-toggle(type="button" aria-label="Hiển thị mật khẩu")
                        span(aria-hidden="true") 👁
                button.auth-submit(type="submit") Đăng nhập
            .auth-links
                a(href="/auth/register") Đăng ký tài khoản mới
                a(href="/auth/forgot-password") Quên mật khẩu

