include ../mixins/alert.pug
doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/png" href="/images/favicon.png")
    block title
      title X-Mate Shop

    //- CSS chung
    link(rel="stylesheet", href="/css/app.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")


    //- Trang con co the them CSS rieng
    block extra_css

  body
    +alert-success(5000)
    +alert-error(5000)
    include ../partials/header.pug

    //- (Optional) include mixins dung chung cho moi trang
    include ../mixins/product-card.pug

    //- Noi dung trang
    main
      block content

    //- Footer
    include ../partials/footer.pug

    //- Script chung (neu co)
    block extra_js

